$body-color: #dddddd;
$primary-white-color: #ffffff;
$primary-black-color: #000000;

$extends-border: #c20000;
$income-border: #008000;
$input-border-color: #ffb700;
$btn-color: #4e7aff;
$list-item-color: #f5f5f5;